Repository Wikid82/cpmp: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfile-check, go-test-coverage, frontend-type-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-compile
        name: python compile check
        entry: tools/python_compile_check.sh
        language: script
        files: ".*\\.py$"
        pass_filenames: false
        always_run: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: '^(frontend/(coverage|dist|node_modules|\.vite)/|.*\.tsbuildinfo$)'
      - id: trailing-whitespace
        exclude: '^(frontend/(coverage|dist|node_modules|\.vite)/|.*\.tsbuildinfo$)'
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: dockerfile-check
        name: dockerfile validation
        entry: tools/dockerfile_check.sh
        language: script
        files: "Dockerfile.*"
        pass_filenames: true
      - id: go-test-coverage
        name: Go Test Coverage
        entry: scripts/go-test-coverage.sh
        language: script
        files: '\.go$'
        pass_filenames: false
      - id: frontend-type-check
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: '^frontend/.*\.(ts|tsx)$'
        pass_filenames: false

docs: update beta-release draft PR summary with twelfth update
  docs/beta_release_draft_pr.md
Due: none

docs: update beta-release draft PR summary with fourteenth update
  docs/beta_release_draft_pr.md
Due: none

docs: update beta-release draft PR summary with twentieth update
  docs/beta_release_draft_pr.md
Due: none

docs: update beta-release draft PR summary with twenty-fourth update
  docs/beta_release_draft_pr.md
Due: none

docs: update beta-release draft PR summary with twenty-sixth update
  docs/beta_release_draft_pr.md
Due: none

docs: update beta-release draft PR summary with twenty-eighth update
  docs/beta_release_draft_pr.md
Due: none

docs: update concise draft PR body snapshot with latest commit reference
  docs/beta_release_draft_pr_body_snapshot.md
Due: none

docs: refresh draft PR body snapshot with final commit reference before PR
  docs/beta_release_draft_pr_body_snapshot.md
Due: none

chore: add PR body content file for draft creation
  docs/beta_release_pr_body.md
Due: none

perf: update release workflow and improve test setup; add lazy loading for better performance
  .github/copilot-instructions.md
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  backend/internal/api/handlers/remote_server_handler_test.go
  frontend/src/App.tsx
Due: go-test-coverage, frontend-type-check

fix: use PROJECT_TOKEN for trivy sarif upload
  .github/workflows/docker-publish.yml
Due: none

fix: correct formatting of resolutions map in TestImportHandler_Commit_Errors
  backend/internal/api/handlers/import_handler_test.go
Due: go-test-coverage

fix: normalize image name case for Trivy scan
  .github/workflows/docker-publish.yml
Due: none

fix: update workflows to replace PROJECT_TOKEN and GITHUB_TOKEN with CPMP_TOKEN
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/propagate-changes.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/renovate_prune.yml
  GHCR_MIGRATION_SUMMARY.md
  PROJECT_BOARD_SETUP.md
  docs/beta_release_draft_pr.md
  docs/beta_release_draft_pr_body_snapshot.md
  docs/beta_release_pr_body.md
  docs/github-setup.md
Due: none

fix: update Trivy SARIF upload token to use GITHUB_TOKEN instead of CPMP_TOKEN
  .github/workflows/docker-publish.yml
Due: none

feat: add comments to clarify trusted proxies configuration in NewRouter
  backend/internal/server/server.go
Due: go-test-coverage

fix: add remote_logs/Unconfirmed 312410.crdownload to .gitignore
  .gitignore
Due: none

feat: implement temporary file creation for log downloads to prevent Content-Length mismatches
  backend/internal/api/handlers/logs_handler.go
  cookies.txt
Due: go-test-coverage

feat: add a default "Site Not Configured" page with dynamic admin link
  frontend/public/unknown.html
Due: none

chore: add host.docker.internal to docker-compose
  docker-compose.local.yml
  docker-compose.yml
Due: none

feat: add loading indicators for instant feedback on list updates
  frontend/src/hooks/useDomains.ts
  frontend/src/hooks/useProxyHosts.ts
  frontend/src/hooks/useRemoteServers.ts
  frontend/src/pages/Domains.tsx
  frontend/src/pages/ProxyHosts.tsx
  frontend/src/pages/RemoteServers.tsx
Due: frontend-type-check
